html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  #big_wrapper {
    //height: 800px;
    flex: 1;
    width: 100%;
    display: flex;
    #big {
      flex: 1;
      background: no-repeat center;
      background-size: contain;
      display: flex;
      .big_touch {
        flex: 1
      }
    }
  }
  #title, #author {
    margin-left: auto;
    margin-right: auto;
  }
  #thumbnail {
    .owl-item {
      //border: blue 1px solid;
      .thumbnail_img {
        height: 150px;
        width: 150px;
        background: no-repeat center;
      }
    }
    .owl-item.center {
      border-top: 5px solid dodgerblue;
      box-sizing: border-box;
    }
  }
}

#debug {
  position: fixed;
  z-index: 999;
  bottom: 0;
  background-color: white;
}

