body {
  //background-color: red;
  #big {
    height: 800px;
    width: 100%;
    background: no-repeat center;
    background-size: contain;
  }
  #thumbnail {
    .owl-item {
      //border: blue 1px solid;
      .thumbnail_img {
        height: 150px;
        width: 150px;
        background: no-repeat center;
      }
    }
  }

  #debug {
    position: fixed;
    z-index: 999;
    bottom: 0;
    background-color: white;
  }
}

