body {
  background-color: red;

  #thumbnail{
    .owl-item{
      background-color: blue;
    }
  }

  #debug{
    position: fixed;
    z-index: 999;
    bottom: 0;
    background-color: white;
  }
}

